/*----------------------------------------------------------------------------------- */
/*  Fonts */
/*----------------------------------------------------------------------------------- */
/*@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format("woff"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGCmgpmuQqK2I-L2S9cF65Ek.woff) format("woff"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format("woff"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  src: local("Source Sans Pro Black"), local("SourceSansPro-Black"), url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGC7eGk4PJkA83J1AXCmgUfc.woff) format("woff"); }
*/


@font-face {
    font-family: 'new_yorkerregular';
    src: url('newyorkr-webfont.eot');
    src: url('newyorkr-webfont.eot?#iefix') format('embedded-opentype'),
         url('newyorkr-webfont.woff2') format('woff2'),
         url('newyorkr-webfont.woff') format('woff'),
         url('newyorkr-webfont.ttf') format('truetype'),
         url('newyorkr-webfont.svg#new_yorkerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*----------------------------------------------------------------------------------- */
/*  Document Setup */
/*----------------------------------------------------------------------------------- */
* {
  outline: none !important; }

body {
  
  color: #5e5e5e;
  background-color: #eef2f2;
  font-size: 15px;
  padding-bottom: 50px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
   font-family: 'Playfair Display';
  letter-spacing: 0.05em;
   }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    font-size: 55%; }

h1, .h1 {
  font-size: 6em;
  font-weight: 300;
   }

h2, .h2 {
  
  font-size: 30px;
  color: #333; 
text-transform: uppercase;}

h3, .h3 {
  font-size: 25px;
  color: #5e5e5e; }

h4, .h4 {
  font-size: 20px; }

h5, .h5 {
  font-size: 15px;
  font-weight: 400; }

h6, .h6 {
  font-size: 13px;
  font-weight: 600; }

p {
  margin-bottom: 15px; }

.lead {
  font-weight: 300; }

strong {
  font-weight: 700; }

a {
  color: #32b9b1; }
  a:hover {
    color: #666666;
    text-decoration: none; }

blockquote {
  border-color: #dddddd; }

hr {
  border-color: #d0d0d0; }

/*----------------------------------------------------------------------------------- */
/*  Background color helper classes */
/*----------------------------------------------------------------------------------- */
.bg-primary, .bg-success, .bg-info, .bg-warning, .bg-danger, .bg-muted {
  color: white; }
  .bg-primary .page-header, .bg-success .page-header, .bg-info .page-header, .bg-warning .page-header, .bg-danger .page-header, .bg-muted .page-header {
    color: white; }

.bg-primary {
  background-color: #32b9b1; }

.bg-success {
  background-color: #51be38; }

.bg-info {
  background-color: #5bc0de; }

.bg-warning {
  background-color: #ef9544; }

.bg-danger {
  background-color: #f05a5b; }

.bg-muted {
  background-color: #bbbbbb; }

/*----------------------------------------------------------------------------------- */
/*  Buttons */
/*----------------------------------------------------------------------------------- */
.btn {
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  font-weight: 600; }
  .btn.active, .btn:active {
    box-shadow: none; }

.btn-primary {
  background: #32b9b1; }
  .btn-primary:hover, .btn-primary.active, .btn-primary:focus {
    background: #2ea9a2; }

.btn-success {
  background: #51be38; }
  .btn-success:hover, .btn-success.active, .btn-success:focus {
    background: #4aae33; }

.btn-info {
  background: #5bc0de; }
  .btn-info:hover, .btn-info.active, .btn-info:focus {
    background: #4ab9db; }

.btn-warning {
  background: #ef9544; }
  .btn-warning:hover, .btn-warning.active, .btn-warning:focus {
    background: #5e5e5e; } /* NOTE CHANGE HERE */

.btn-danger {
  background: #f05a5b; }
  .btn-danger:hover, .btn-danger.active, .btn-danger:focus {
    background: #ee4748; }

.btn-link {
  color: #32b9b1; }

.btn-group.open .dropdown-toggle {
  box-shadow: none; }
  .btn-group.open .dropdown-toggle.btn-primary {
    background-color: #227d77;
    border-color: #227d77; }
    .btn-group.open .dropdown-toggle.btn-primary .caret {
      border-top-color: white; }
  .btn-group.open .dropdown-toggle.btn-success {
    background-color: #388327;
    border-color: #388327; }
    .btn-group.open .dropdown-toggle.btn-success .caret {
      border-top-color: white; }
  .btn-group.open .dropdown-toggle.btn-info {
    background-color: #28a1c5;
    border-color: #28a1c5; }
    .btn-group.open .dropdown-toggle.btn-info .caret {
      border-top-color: white; }
  .btn-group.open .dropdown-toggle.btn-warning {
    background-color: #d46e12;
    border-color: #d46e12; }
    .btn-group.open .dropdown-toggle.btn-warning .caret {
      border-top-color: white; }
  .btn-group.open .dropdown-toggle.btn-danger {
    background-color: #e81517;
    border-color: #e81517; }
    .btn-group.open .dropdown-toggle.btn-danger .caret {
      border-top-color: white; }

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
  margin-left: -2px; }
.btn-group.open .dropdown-toggle {
  box-shadow: none; }

/*----------------------------------------------------------------------------------- */
/*  Nav pills */
/*----------------------------------------------------------------------------------- */
#myMenu-pills > li > a {
  font-weight: 600; }
  #myMenu-pills > li > a:hover {
    background-color: rgba(0, 0, 0, 0.05); }

#myMenu-pills > li.active > a, #myMenu-pills > li.active > a:hover, #myMenu-pills > li.active > a:focus {
  background-color: #32b9b1; }

/*----------------------------------------------------------------------------------- */
/*  Dropdowns */
/*----------------------------------------------------------------------------------- */
.dropdown-menu {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  text-align: left; }
  .dropdown-menu > li > a {
    color: black;
    padding: 5px 12px 7px; }
  .dropdown-menu > li:first-child a {
    border: 0; }
  .dropdown-menu .divider {
    margin: 4px 0; }

/*----------------------------------------------------------------------------------- */
/*  Tables */
/*----------------------------------------------------------------------------------- */


/*----------------------------------------------------------------------------------- */
/*  Labels */
/*----------------------------------------------------------------------------------- */
.label-primary {
  background-color: #32b9b1; }

.label-default {
  background-color: #bbbbbb; }

.label-success {
  background-color: #51be38; }

.label-info {
  background-color: #5bc0de; }

.label-warning {
  background-color: #ef9544; }

.label-danger {
  background-color: #f05a5b; }

/*----------------------------------------------------------------------------------- */
/*  List groups */
/*----------------------------------------------------------------------------------- */
.list-group .list-group-item.active, .list-group .list-group-item.active:hover, .list-group .list-group-item.active:focus {
  color: white;
  background-color: #32b9b1;
  border-color: #27918b; }
  .list-group .list-group-item.active .badge, .list-group .list-group-item.active:hover .badge, .list-group .list-group-item.active:focus .badge {
    color: #32b9b1;
    background-color: white; }

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  background-color: #32b9b1;
  border-color: #32b9b1; }

/*----------------------------------------------------------------------------------- */
/*  Form styles */
/*----------------------------------------------------------------------------------- */
label {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px; }

.form-group {
  margin-bottom: 25px; }

.form-control {
  border: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.35); }
  .form-control:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.35); }

.input-group {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.35);
  border-radius: 4px; }
  .input-group.input-group-lg {
    border-radius: 6px; }
  .input-group.input-daterange {
    border-radius: 4px; }
  .input-group .form-control {
    border: 0;
    box-shadow: none; }
  .input-group .input-group-btn .btn {
    margin: 0 !important;
    border: 0 !important; }
  .input-group .input-group-addon {
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    color: black; }

.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
  margin-right: -2px;
  position: relative;
  z-index: 10; }

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  margin-left: -2px; }

.has-feedback .form-control-feedback {
  top: 50%;
  margin-top: -17px; }

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline {
  color: #60c560; }
.has-success .form-control {
  border-color: #60c560; }
.has-success .form-control-feedback {
  color: #60c560; }

.has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline {
  color: #f0ad4e; }
.has-warning .form-control {
  border-color: #f0ad4e; }
.has-warning .form-control-feedback {
  color: #f0ad4e; }

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
  color: #d9534f; }
.has-error .form-control {
  border-color: #d9534f; }
.has-error .form-control-feedback {
  color: #d9534f; }

/*----------------------------------------------------------------------------------- */
/*  Emphasis Classes */
/*----------------------------------------------------------------------------------- */
.text-primary {
  color: #32b9b1; }

.text-success {
  color: #51be38; }

.text-info {
  color: #5bc0de; }

.text-warning {
  color: #ef9544; }

.text-danger {
  color: #f05a5b; }

/*----------------------------------------------------------------------------------- */
/*  Panels */
/*----------------------------------------------------------------------------------- */
.panel {
  border: 0; }
  .panel .panel-body {
    padding: 20px; }

.panel-heading .panel-toggle {
  background: #f9fafa; }
.panel-heading .panel-title {
  font-size: 18px; }

/*----------------------------------------------------------------------------------- */
/*  Tab Styles */
/*----------------------------------------------------------------------------------- */
#myMenu-tabs > li > a {
  border-radius: 0px; }
  #myMenu-tabs > li > a:hover {
    background-color: rgba(0, 0, 0, 0.05); }
#myMenu-tabs > li.active > a, #myMenu-tabs > li.active > a:hover, #myMenu-tabs > li.active > a:focus {
  background-color: white; }

.tab-content {
  background-color: white;
  border: 1px solid #dddddd;
  border-top: 0;
  padding: 15px 15px 5px; }

/*----------------------------------------------------------------------------------- */
/*  Progress Bars */
/*----------------------------------------------------------------------------------- */
.progress {
  box-shadow: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.06); }
  .progress .progress-bar {
    box-shadow: none;
    background-color: #32b9b1; }
  .progress .progress-bar-success {
    background-color: #51be38; }
  .progress .progress-bar-info {
    background-color: #5bc0de; }
  .progress .progress-bar-warning {
    background-color: #ef9544; }
  .progress .progress-bar-danger {
    background-color: #f05a5b; }

.well {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.05); }

html, body {
  margin: 0;
  padding: 0; }


.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  color: white; }
  .scroll-down p {
    font-size: 20px;
    margin-bottom: 0; }

.services {
  padding: 0;
  list-style: none;
  margin-top: 80px; }
  .services li {
    display: inline-block;
    margin: 0 30px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 70px;
    opacity: 0; }
    .services li.animated {
      opacity: 1; }

body.fullPage-portfolio {
  overflow: hidden; }

#superContainer {
  height: 100%;
  position: relative;
  -ms-touch-action: none; }

.table {
  background-color: transparent;
  margin: 0;
  box-shadow: none; }

.section {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }





.slide {
  float: left;
  height: 100%;
  display: block; }



.slidesContainer {
  height: 100%;
  display: block; }

.slides {
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.section.table, .slide.table {
  display: table;
  width: 100%; }

.tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.slidesContainer {
  float: left;
  position: relative; }

.controlArrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  margin-top: -64px;
  font-family: FontAwesome;
  font-size: 24px;
  color: #5e5e5e; }
  .controlArrow.prev {
    left: 20px; }
    .controlArrow.prev:after {
      content: "\f177 "; }
  .controlArrow.next {
    right: 20px; }
    .controlArrow.next:after {
      content: "\f178"; }

.scrollable {
  overflow: scroll; }

.easing {
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out; }

/*TEXT RUN2***/


#fullPage-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1; }
  #fullPage-nav.right {
    right: 17px; }
  #fullPage-nav.left {
    left: 17px; }

.fullPage-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1; }
  .fullPage-slidesNav.bottom {
    bottom: 17px; }
  .fullPage-slidesNav.top {
    top: 17px; }

#fullPage-nav ul, .fullPage-slidesNav ul {
  margin: 0;
  padding: 0; }

#fullPage-nav li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.fullPage-slidesNav li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
  display: inline-block; }

#fullPage-nav li a, .fullPage-slidesNav li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fullPage-nav li .active span, .fullPage-slidesNav .active span {
  background: black; }

#fullPage-nav span, .fullPage-slidesNav span {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 1; }

.fullPage-tooltip {
  position: absolute;
  color: white;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  top: -2px; }
  .fullPage-tooltip.right {
    right: 20px; }
  .fullPage-tooltip.left {
    left: 20px; }


/*END TEST RUN 2******/



.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #eef2f2;
  z-index: 50; }
  .overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    font-size: 28px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative; }
    .overlay ul li {
      font-family: 'Playfair Display', serif;
      display: block;
      
      min-height: 28px; }

      .overlay ul li a {
        font-weight: 300;
        display: block;
        color: #5e5e5e;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;
        /*border-bottom: 1px solid #5e5e5e; */
      }
        .overlay ul li a:hover, .overlay ul li a:focus {
          opacity: 0.5;
          text-decoration: none; }

.overlay {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s; }
  .overlay.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; }
  .overlay nav {
    -webkit-perspective: 1200px;
    perspective: 1200px; }
    .overlay nav ul {
      opacity: 0.4;
      -webkit-transform: translateY(-25%) rotateX(35deg);
      transform: translateY(-25%) rotateX(35deg);
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s; }
 .overlay.open nav ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); }
  .overlay.close nav ul {
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg); }









/**  VERTICAL NAV
 * 
 * 
 */
html, body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
    height: 100%;
    position: relative;

    /* Touch detection for Windows 8 */
    -ms-touch-action: none;

    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: scroll;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}


/*TEXT RUN */

#fullPage-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fullPage-nav.right {
    right: 17px;
}
#fullPage-nav.left {
    left: 17px;
}
.fullPage-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fullPage-slidesNav.bottom {
    bottom: 17px;
}
.fullPage-slidesNav.top {
    top: 17px;
}


#fullPage-nav ul,
.fullPage-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fullPage-nav ul li,
.fullPage-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fullPage-slidesNav ul li {
    display: inline-block;
}
#fullPage-nav ul li a,
.fullPage-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fullPage-nav ul li a.active span,
.fullPage-slidesNav ul li a.active span,
#fullPage-nav ul li:hover a.active span,
.fullPage-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }
#fullPage-nav ul li a span,
.fullPage-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #5e5e5e;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fullPage-nav ul li:hover a span,
.fullPage-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fullPage-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
}
#fullPage-nav ul li:hover .fp-tooltip,
#fullPage-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fullPage-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fullPage-nav ul li .fp-tooltip.left {
    left: 20px;
}


/*----------------------------------------------------------------------------------- */
/*  MY CODE 
/*----------------------------------------------------------------------------------- */

html,
body {
  height: 100%;
}
body {
  font-weight: 400;
  font-size: 100%;
  text-rendering: optimizelegibility;
  color:#000;
}

body.no-scrollbar {
  overflow: hidden;
}


.img-responsive{
  margin: 0 auto;
}

.cover img{
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menuTip{
  position: fixed;
  top:60px;

  right:15px;
  z-index:99999999;
  color:#5e5e5e;
  font-size: 40px;
  opacity: .8;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed{

  font-size:5em;
}

.css-typing
{
    width:10em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

.space{
  padding-right: 10px;
  font-size: 1.2em;
}
.git{
  padding-bottom: 7px;
  opacity: .7;
}
.js{
  margin-bottom: 15px;
}

p{
  color: #5e5e5e;
  font-size: 16px;
  line-height: 1.5em;
  font-family: 'Open Sans';
}


hr{
  margin:5px;
}

#section h2{
  margin-bottom: .75em;
}

#section0 h1{
  color:#ffa500;
  margin-top: 0;
}

#section h1{
  color:#303030;
  margin-top: 0;
}

#section2 h1{
  color:#FF7900;
  margin-top: 0;
}

#section3 h1{
  color:#FD301B;
}

#section4 h1{
color:#3F0B3F;
}
 #section6 h1{
color:#BA3126;
}

#section7 h1{
  color:#3285E7;
}

.btn{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding: 12px 24px;

  border-radius: 0;
  border: 0 !important;
  border-style: none !important;
  margin-top: .75em;
  letter-spacing: 0.1em;

}
.section .btn-warning{
  background-color:#333;
border:#333;

}

#section0 .btn-warning:hover{
background-color:#DD8F00;
border:#DD8F00;
}

#section1 .btn-warning:hover{
background-color:#5e5e5e;
border: #5e5e5e;
}



#section2 .btn-warning:hover{
background-color:#FF7900;
border:#FF7900;
}


#section3 .btn-warning:hover{
background-color: #FD301B;
border: #FD301B;
}

#section4 .btn-warning:hover{
background-color: #3F0B3F;
border: #3F0B3F;
}

#section6 .btn-warning:hover{

}

span.strike {
         font-weight:bold; /*set line weight here*/
         color: rgba(250,250,250, .5);
         text-decoration:line-through;
 }

 span.strike>span {
        font-weight:300;
        color: rgba(250,250,250, .5);
 }


.Gl{
    position: fixed;
  z-index: 70;
  top: 0px;
  left: 0px;
  cursor: pointer;
 font-size: 46px;
 margin: 0;
 padding:10px;
 font-family: 'new_yorkerregular', sans-serif;
 font-weight: 700;
 letter-spacing: -0.3em;
 color:#5e5e5e;
 width: 70px;
  height: 65px;
 
  background-color: rgba(250,250,250, .75)
}


i.icon-antenna{
  position: fixed;
  z-index: 70;
  top: 10px;
  left: 40px;
  cursor: pointer;
 font-size: 50px;
}

.container{
  width: 90%;
  padding-left: 0;
  padding-right: 0;
}

.col-md-1{
  width:3%;
}

#fullpage{
  text-align:left;

}

.gold{
  background-color: #DD8F00;
}

.arrow-down{
 font-size: 16px;
  border:1px solid #5e5e5e;
  width:32px;
  height:32px;
  border-radius: 50%;
  color: #5e5e5e;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   text-align: center;
  vertical-align: middle;
  line-height: 32px;
  padding-top: 1px;
}



.jarmusch .lettering {
  font-size:4em;
  font-weight: 600;
  text-transform: uppercase;
}

.lettering #red{
  color: red;
}

.red{
  color: red;
}

.scroll-down{
  margin: 0;
  padding-bottom: 5px;
}


.intro{
  margin-top: 2em;
}

.headnav{
  width:70px;
  height:65px;
  position: fixed;
  right:0;

  background-color: rgba(250,250,250, .75);
  z-index:999999;
 
}

.counter{
  text-align: center;
  vertical-align: middle;
  position:fixed;
  bottom:57px;
  right:25px;
  color:#333;
  z-index: 999;
  font-size: 16px;
  border:1px solid #5e5e5e;
  width: 32px;
  height:32px;
  line-height: 32px;
   font-family: 'Playfair-Display', serif;
    font-weight: 700;
}
.total{
  text-align: center;
  vertical-align: middle;
  position:fixed;
  bottom:25px;
  right:25px;
  color:#333;
  z-index: 999;
  font-size: 16px;
  border-bottom:1px solid #5e5e5e;
  border-left:1px solid #5e5e5e;
  border-right:1px solid #5e5e5e;
  width:32px;
  height:32px;
  padding-top:1px;
  line-height: 32px;
   font-family: 'Playfair-Display',serif;
   font-weight: 700;
 }


 .slide img, .slide p{
  margin:0 auto;
  text-align: center
 }




.anime {
  width: 200px;
  height: 200px;
  background-color: coral;
  animation: square-to-circle 2s .5s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}
 
@keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    background:coral;
    transform:rotate(0deg);
  }
  25%  {
    border-radius:50% 0 0 0;
    background:darksalmon;
    transform:rotate(45deg);
  }
  50%  {
    border-radius:50% 50% 0 0;
    background:indianred;
    transform:rotate(90deg);
  }
  75%  { 
    border-radius:50% 50% 50% 0;
    background:lightcoral;
    transform:rotate(135deg);
  }
  100% {  
    border-radius:50%;
    background:darksalmon;
    transform:rotate(180deg);
  }
}




@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 21px; }
  .overlay ul li {
    min-height: 21px; } }
#menu {
  position: fixed;
  z-index: 70;
  top: 25px;
  right: 14px;
  cursor: pointer; }
  #menu .menu-bars {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 4px; }
    #menu .menu-bars span {
      margin: 0 auto;
      position: relative;
      top: 0px;
      -webkit-transition-duration: 0s;
      -webkit-transition-delay: 0.2s;
      width: 40px;
      height: 4px;
      background-color: #5e5e5e;
      display: block; }
      #menu .menu-bars span:before, #menu .menu-bars span:after {
        position: absolute;
        content: ""; }
      #menu .menu-bars span:before, #menu .menu-bars span:after {
        width: 40px;
        height: 4px;
        background-color: #5e5e5e;
        display: block; }
      #menu .menu-bars span:before {
        margin-top: -12px;
        -webkit-transition-property: margin, -webkit-transform;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-delay: 0.2s, 0; }
      #menu .menu-bars span:after {
        margin-top: 12px;
        -webkit-transition-property: margin, -webkit-transform;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-delay: 0.2s, 0; }
    #menu .menu-bars.open span {
      background-color: rgba(0, 0, 0, 0);
      -webkit-transition-delay: 0.2s; }
    #menu .menu-bars.open span:before {
      margin-top: 0;
      -webkit-transform: rotate(45deg);
      -webkit-transition-delay: 0, 0.2s; }
    #menu .menu-bars.open span:after {
      margin-top: 0;
      -webkit-transform: rotate(-45deg);
      -webkit-transition-delay: 0, 0.2s; }

@media screen and (max-width: 700px) {



 



.row.col-md-5{ text-align:center!important;
}  
#fullpage{
  
}

.section h1{
  font-size: 35px;
}
.section h2{
  font-size: 25px;
}
.section p{
  font-size: 14px;
}
}